FichierXML/BankWS.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="BankWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8686/?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="ConvertDollartoDH">
<part name="parameters" element="tns:ConvertDollartoDH"></part>
</message>
<message name="ConvertDollartoDHResponse">
<part name="parameters" element="tns:ConvertDollartoDHResponse"></part>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"></part>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"></part>
</message>
<message name="AccountnotFoundException">
<part name="fault" element="tns:AccountnotFoundException"></part>
</message>
<message name="compteList">
<part name="parameters" element="tns:compteList"></part>
</message>
<message name="compteListResponse">
<part name="parameters" element="tns:compteListResponse"></part>
</message>
<portType name="BankService">
<operation name="ConvertDollartoDH">
<input wsam:Action="http://WS/BankService/ConvertDollartoDHRequest" message="tns:ConvertDollartoDH"></input>
<output wsam:Action="http://WS/BankService/ConvertDollartoDHResponse" message="tns:ConvertDollartoDHResponse"></output>
</operation>
<operation name="getCompte">
<input wsam:Action="http://WS/BankService/getCompteRequest" message="tns:getCompte"></input>
<output wsam:Action="http://WS/BankService/getCompteResponse" message="tns:getCompteResponse"></output>
<fault message="tns:AccountnotFoundException" name="AccountnotFoundException" wsam:Action="http://WS/BankService/getCompte/Fault/AccountnotFoundException"></fault>
</operation>
<operation name="compteList">
<input wsam:Action="http://WS/BankService/compteListRequest" message="tns:compteList"></input>
<output wsam:Action="http://WS/BankService/compteListResponse" message="tns:compteListResponse"></output>
</operation>
</portType>
<binding name="BankServicePortBinding" type="tns:BankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="ConvertDollartoDH">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AccountnotFoundException">
<soap:fault name="AccountnotFoundException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="compteList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BankWS">
<port name="BankServicePort" binding="tns:BankServicePortBinding">
<soap:address location="http://localhost:8686/"></soap:address>
</port>
</service>
</definitions>